{% load wagtailimages_tags menu_tags static i18n %}

{% get_menu 'Privacy' as privacy_menu %} 
{% get_social_media_icons as social_media_icons %}

<footer class="footer">
  <nav class="navbar navbar-light bg-dark py-1">
    <div>
      <ul class="nav bg-dark pr-4">
        {% for icon in social_media_icons %}
        <li class="nav-item px-1">
          <a href="{{ icon.link }}">
            <img src="{{ icon.image }}" alt="{{ icon.title }}" />
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% locale_page 'privacy-policy' as privacy_page %} {% if privacy_page %}
    <span
      class="py-0 mb-n3 justify-content-center content-align-middle text-muted"
    >
      <a class="nav-link footer-nav-link" href="{{ privacy_page.url }}"
        ><p class="py-0">{{ privacy_page.title }}</p></a
      >
    </span>
    {% endif %}
    <span
      class="py-0 mb-n3 justify-content-right content-align-middle text-muted"
    >
      <a class="nav-link footer-nav-link" href="http://enzedonline.com"
        ><small class="py-0">Website by Enzedonline.com</small></a
      >
    </span>
  </nav>

</footer>
