{% load wagtailimages_tags menu_tags core_tags i18n static %}

<nav class="navbar navbar-expand-md navbar-light bg-helene-faded-moutard pr-2 pr-md-0 ml-n2 py-1">
    {% trans_page_from_slug 'en' as homepage %}
    <a class="navbar-brand" href="{{ homepage.url }}">
        <svg style="width:clamp(160px, 112.0513px + 14.5299vw, 330px); height:clamp(31px, 23.5918px + 2.2449vw, 64px);">
            <use href="{% static 'svg/logo.svg' %}#logo" fill="currentColor" />
        </svg>    
    </a>

    {% get_menu 'contact' as contact_menu %}
    {% if contact_menu %}
        {% get_menu_items contact_menu request as contact_menu_items %}
        {% for item in contact_menu_items %}
            <div class="ml-auto mr-0 order-0 order-md-1 pr-2 pr-md-0">
                <ul class="navbar-nav flex-row flex-nowrap align-items-center">
                    <li class="nav-item{% if request.path == item.url %} active{% endif %}">
                        <a class="nav-link" href="{{item.url}}">                            
                            {% if item.icon %}
                                {% image item.icon fill-25x25 class="image-menu" %}
                            {% endif %}
                            {{ item.title }}
                        </a>
                    </li>
                </ul>
            </div>    
        {% endfor %}
    {% endif %}

    <div class="collapse navbar-collapse order-1 order-md-0 dual-collapse2 menu-bar-collapse" id="main-menu" aria-controls="main-menu" >
        <ul class="navbar-nav ml-auto align-items-md-center">
            {% get_menu 'main_menu' as main_menu %}
            {% if main_menu %}
                {% get_menu_items main_menu request as navigation %}
                {% for item in navigation %}
                    {% if not item.is_submenu %}
                        <li class="nav-item{% if request.path == item.url %} active{% endif %}">
                            <a class="nav-link" href="{{item.url}}">                            
                                {% if item.icon %}
                                    {% image item.icon fill-25x25 class="image-menu" %}
                                {% endif %}
                                {{ item.title }}
                            </a>
                        </li>
                    {% else %}
                        {% get_menu item.submenu_id as sub_menu %}
                        {% if sub_menu %}
                            {% get_menu_items sub_menu request as sub_menu_items %}
                            {% if sub_menu_items %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        {% if item.display_option != 'text' and sub_menu.icon %}
                                            {% image sub_menu.icon fill-25x25 class="image-menu" %}
                                        {% endif %}
                                        {% if item.display_option != 'icon'%}
                                            {{ sub_menu.title }}
                                        {% endif %}
                                    </a>
                                    <div class="dropdown-menu">
                                        {% for subitem in sub_menu_items %}
                                            {% if not subitem.is_submenu %}
                                                <a class="dropdown-item{% if request.path == subitem.url %} active{% endif %}" href="{{subitem.url}}">
                                                    {% if subitem.icon %}
                                                        {% image subitem.icon fill-25x25 class="image-menu" %}
                                                    {% endif %}
                                                    {{ subitem.title }}
                                                </a>
                                            {% else %}
                                                {% get_menu subitem.submenu_id as subsubmenu %}
                                                {% if subsubmenu %}
                                                    {% get_menu_items subsubmenu request as sub_sub_menu_items %}
                                                    {% if sub_sub_menu_items %}
                                                        <div class="dropright"> 
                                                            <button class="btn btn-dark btn-block text-left bg-transparent dropdown-toggle" data-toggle="dropdown">
                                                                {% if subitem.display_option != 'text' and subsubmenu.icon %}
                                                                    {% image subsubmenu.icon fill-25x25 %}
                                                                {% endif %}
                                                                {% if subitem.display_option != 'icon'%}
                                                                    {{ subsubmenu.title }}
                                                                {% endif %}
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left">
                                                                {% for subitem in sub_sub_menu_items %}
                                                                    {% if not subitem.is_submenu %}
                                                                        <a class="dropdown-item{% if request.path == subitem.url %} active{% endif %}" href="{{subitem.url}}">
                                                                            {% if subitem.icon %}
                                                                                {% image subitem.icon fill-25x25 class="image-menu" %}
                                                                            {% endif %}
                                                                            {{ subitem.title }}
                                                                        </a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                            {% if subitem.divider %}
                                                <div class="dropdown-divider"></div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>

    {% comment %} 
        Language switcher:
        Flag of currently selected language displayed on drop down menu heading
        language_switcher template tag iterates through site locales, finds equivalent url for each locale
          adds menu item flag + locale name + link to equiv page
        Assumes svg image for each language uploaded to ststic/svg/flags/ with filename 'lang_code.svg' (eg en.svg, fr.svg etc) 
    {% endcomment %}
    <div class="collapse navbar-collapse order-2 dual-collapse2 menu-bar-collapse" style="max-width: 65px;" id="language-switcher" aria-controls="language-switcher" >

        <ul class="navbar-nav ml-auto">   
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {% get_lang_flag as flag %}
                    <img 
                        src="{{ flag.image }}"
                        alt="{{flag.language}}"
                        title="{{flag.language}}"
                        width="20" height="15"
                        style="vertical-align: -0.05rem;"
                    />
                </a>
                <div class="dropdown-menu dropdown-menu-right switcher-menu">
                    {% language_switcher self as switcher %}
                    {% for lang in switcher %}
                        <a class="dropdown-item switcher-item" title="{{ lang.language }}" href="{{ lang.url }}">
                            <img 
                                src="{{ lang.flag }}"
                                alt="{{ lang.language }}"
                                width="20" height="15"
                            /><span style="vertical-align: -0.05rem;">&nbsp;&nbsp;{{ lang.language }}</span>
                        </a>
                    {% endfor %}
                </div>
            </li>       
        </ul>
    </div>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".menu-bar-collapse" 
            aria-controls="menu-bar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
