@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
:root {
  --helene-green: #69af8e;
  --helene-faded-green: #91c6ad;
  --helene-grey-green: #dcf1e7;
  --helene-coral: #f87c7c;
  --helene-magenta: #ea4e9a;
  --helene-blue: #54abf0;
  --helene-cerise: #a73173;
  --helene-moutard: #e8c15c;
  --helene-faded-moutard: #e6c67e;
  --font-size-1: clamp(2rem, 1.7993rem + 0.8451vw, 2.75rem);
  --font-size-2: clamp(1.8rem, 1.6261rem + 0.7324vw, 2.45rem);
  --font-size-3: clamp(1.6rem, 1.4662rem + 0.5634vw, 2.1rem);
  --font-size-4: clamp(1.4rem, 1.293rem + 0.4507vw, 1.8rem);
  --font-size-5: clamp(1.2rem, 1.1331rem + 0.2817vw, 1.45rem);
  --font-size-6: clamp(0.9rem, 0.8732rem + 0.1127vw, 1rem);
  --font-size-body: clamp(1rem, 0.9599rem + 0.169vw, 1.15rem);
}
.bg-helene-green {
  background-color: var(--helene-green) !important;
}
.bg-helene-faded-green {
  background-color: var(--helene-faded-green) !important;
}
.bg-helene-grey-green {
  background-color: var(--helene-grey-green) !important;
}
.bg-helene-coral {
  background-color: var(--helene-coral) !important;
}
.bg-helene-magenta {
  background-color: var(--helene-magenta) !important;
}
.bg-helene-blue {
  background-color: var(--helene-blue) !important;
}
.bg-helene-cerise {
  background-color: var(--helene-cerise) !important;
}
.bg-helene-moutard {
  background-color: var(--helene-moutard) !important;
}
.bg-helene-faded-moutard {
  background-color: var(--helene-faded-moutard) !important;
}
body {
  margin: 0;
  font-size: var(--font-size-body);
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
  word-wrap: break-word;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.8rem;
  font-weight: 400;
  line-height: 1.2;
}
.h1,
h1 {
  font-size: var(--font-size-1);
}
.h2,
h2 {
  font-size: var(--font-size-2);
}
.h3,
h3 {
  font-size: var(--font-size-3);
}
.h4,
h4 {
  font-size: var(--font-size-4);
}
.h5,
h5 {
  font-size: var(--font-size-5);
}
.h6,
h6 {
  font-size: var(--font-size-6);
}
.p,
p {
  font-size: var(--font-size-body);
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.switcher-item {
  padding: 0.4rem 1.5rem;
  text-decoration: none;
  min-width: 6rem;
}
.switcher-lang {
  padding-left: 0.7em;
  vertical-align: -0.1rem;
}
.switcher-menu {
  min-width: 8rem;
  background-color: var(--light);
}
.nav-item, .dropdown-item {
  font-size: clamp(0.9rem, 0.5176rem + 0.7843vw, 1.4rem);
}
.nav-item {
  padding: 0rem 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
  font-weight: 500;
}
.footer-nav-link,
.footer-nav-link.active {
  color: var(--light) !important;
  padding: 0px;
  text-align: end;
  font-size: 1.05em;
}
@media (min-width: 576px) {
  .footer-nav-link,
  .footer-nav-link.active {
    font-size: initial;
  }
}
@media (min-width: 768px) {
  .footer-nav-link,
  .footer-nav-link.active {
    text-align: center;
    font-size: large;
  }
}
.dark-nav-link,
.dark-nav-link.active {
  color: var(--dark) !important;
}
.category-nav-link,
.category-nav-link.active {
  color: var(--dark) !important;
  padding: 0px;
  font-size: clamp(0.9375rem, 0.7583rem + 0.5515vw, 1.1718756rem);
}
.dropright {
  position: relative;
  margin-left: 10px;
}
.dropright .btn-dark-outline {
  background-color: transparent;
}
.dropright .btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
.dropright .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
.dropdown-menu-right {
  right: 0.25rem;
}
.helene-blockquote {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: clamp(1.23046875rem, 0.9168rem + 0.9651vw, 1.640625rem);
  font-weight: 300;
  line-height: 1;
}
.helene-blockquote-marks {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1;
  padding: 0px;
  margin: 0px;
}
.privacy-notice {
  font-size: 0.8em;
  line-height: 120%;
}
.image-block-caption {
  font-size: var(--font-size-5);
  line-height: 1.1;
}
.image-block-credit {
  font-size: var(--font-size-6);
  font-style: italic;
  font-weight: 400;
}
/* .table_nopadding>tfoot>tr>td{ padding: 0px; margin: 0px;} */
.banner-overlay-container {
  position: relative;
}
.banner-overlay-text-block {
  position: absolute;
  bottom: 0px;
  left: 00px;
  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  object-fit: cover;
  text-align: left;
}

.btn {
  border-radius: 12px;
}
.btn-primary {
  background-color: var(--helene-green);
  border-color: var(--helene-green);
}
.btn-primary:hover {
  background-color: var(--helene-faded-green);
  border-color: var(--helene-faded-green);
}
.btn-primary.focus,
.btn-primary:focus {
  background-color: var(--helene-faded-green);
  border-color: var(--helene-faded-green);
}
.btn-link {
  color: var(--helene-green);
}
.rich-text img {
  max-width: 100%;
  height: auto;
}
.testimonial {
  font-size: clamp(0.84375rem, 0.7721rem + 0.2206vw, 0.9375rem);
  line-height: 120%;
}
.author-description {
  font-size: 95%;
  line-height: 100%;
}
.divider-right, .divider-right-sm, .divider-right-md, .divider-right-lg {
  border-right: 1px solid #DADADA;
}
@media (max-width: 575px) {
  .divider-right-sm {
    border-right: 0px solid #DADADA;
  }
}
@media (max-width: 767px) {
  .divider-right-md {
    border-right: 0px solid #DADADA;
  }
}
@media (max-width: 991px) {
  .divider-right-lg {
    border-right: 0px solid #DADADA;
  }
}
.divider-left, .divider-left-sm, .divider-left-md, .divider-left-lg {
  border-left: 1px solid #DADADA;
}
@media (max-width: 575px) {
  .divider-left-sm {
    border-left: 0px solid #DADADA;
  }
}
@media (max-width: 767px) {
  .divider-left-md {
    border-left: 0px solid #DADADA;
  }
}
@media (max-width: 991px) {
  .divider-left-lg {
    border-left: 0px solid #DADADA;
  }
}

