@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
:root {
  --helene-green: #3bcd99;
  --helene-coral: #f87c7c;
  --helene-magenta: #ea4e9a;
  --helene-blue: #54abf0;
}
.bg-helene-green {
  background-color: var(--helene-green) !important;
}
.bg-helene-coral {
  background-color: var(--helene-coral) !important;
}
.bg-helene-magenta {
  background-color: var(--helene-magenta) !important;
}
.bg-helene-blue {
  background-color: var(--helene-blue) !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.h1,
h1 {
  font-size: clamp(1.7578125rem, 1.3097rem + 1.3787vw, 2.34375rem);
}
.h2,
h2 {
  font-size: clamp(1.40625rem, 1.0478rem + 1.1029vw, 1.875rem);
}
.h3,
h3 {
  font-size: clamp(1.23046875rem, 0.9168rem + 0.9651vw, 1.640625rem);
}
.h4,
h4 {
  font-size: clamp(1.125rem, 0.9099rem + 0.6618vw, 1.40625rem);
}
.h5,
h5 {
  font-size: clamp(0.9375rem, 0.7583rem + 0.5515vw, 1.1718756rem);
}
.h6,
h6 {
  font-size: clamp(0.84375rem, 0.7721rem + 0.2206vw, 0.9375rem);
}
.p,
p {
  font-size: clamp(0.9rem, 0.8235rem + 0.2353vw, 1rem);
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.switcher-item {
  padding: 0.4rem 1.5rem;
  text-decoration: none;
  min-width: 6rem;
}
.switcher-menu {
  min-width: 8rem;
}
.helene-blockquote {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: clamp(1.7578125rem, 1.3097rem + 1.3787vw, 2.34375rem);
  font-weight: 300;
  line-height: 1;
}
.helene-blockquote-marks {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1;
  padding: 0px;
  margin: 0px;
}
.table_nopadding>tfoot>tr>td{ padding: 0px; margin: 0px;}
.banner-overlay-container {
  position: relative;
}
.banner-overlay-text-block {
  position: absolute;
  bottom: 0px;
  left: 00px;
  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  object-fit: cover;
}

.btn {
  display: inline-block;
  font-weight: 300;
  color: #222;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.5rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 12px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #222;
  text-decoration: none;
}
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 140, 186, 0.25);
}
.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}
.btn-primary {
  color: #fff;
  background-color: var(--helene-coral);
  border-color: var(--helene-coral);
}
.btn-primary:hover {
  color: #fff;
  background-color: var(--helene-green);
  border-color: var(--helene-green);
}
.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: var(--helene-green);
  border-color: var(--helene-green);
  box-shadow: 0 0 0 0rem rgb(255, 255, 255);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #008cba;
  border-color: #008cba;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--helene-green);
  border-color: var(--helene-green);
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0rem rgb(255, 255, 255);
}
.btn-secondary {
  color: #222;
  background-color: #eee;
  border-color: #eee;
}
.btn-secondary:hover {
  color: #222;
  background-color: #dbdbdb;
  border-color: #d5d5d5;
}
.btn-secondary.focus,
.btn-secondary:focus {
  color: #222;
  background-color: #dbdbdb;
  border-color: #d5d5d5;
  box-shadow: 0 0 0 0.2rem rgba(207, 207, 207, 0.5);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #222;
  background-color: #eee;
  border-color: #eee;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #222;
  background-color: #d5d5d5;
  border-color: #cecece;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(207, 207, 207, 0.5);
}
.btn-success {
  color: #fff;
  background-color: #43ac6a;
  border-color: #43ac6a;
}
.btn-success:hover {
  color: #fff;
  background-color: #389059;
  border-color: #358753;
}
.btn-success.focus,
.btn-success:focus {
  color: #fff;
  background-color: #389059;
  border-color: #358753;
  box-shadow: 0 0 0 0.2rem rgba(95, 184, 128, 0.5);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #43ac6a;
  border-color: #43ac6a;
}
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #358753;
  border-color: #317e4e;
}
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(95, 184, 128, 0.5);
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.btn-info:hover {
  color: #fff;
  background-color: #3bb4d8;
  border-color: #31b0d5;
}
.btn-info.focus,
.btn-info:focus {
  color: #fff;
  background-color: #3bb4d8;
  border-color: #31b0d5;
  box-shadow: 0 0 0 0.2rem rgba(116, 201, 227, 0.5);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #31b0d5;
  border-color: #2aaacf;
}
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(116, 201, 227, 0.5);
}
.btn-warning {
  color: #fff;
  background-color: #e99002;
  border-color: #e99002;
}
.btn-warning:hover {
  color: #fff;
  background-color: #c37902;
  border-color: #b67102;
}
.btn-warning.focus,
.btn-warning:focus {
  color: #fff;
  background-color: #c37902;
  border-color: #b67102;
  box-shadow: 0 0 0 0.2rem rgba(236, 161, 40, 0.5);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #fff;
  background-color: #e99002;
  border-color: #e99002;
}
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #b67102;
  border-color: #aa6901;
}
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(236, 161, 40, 0.5);
}
.btn-danger {
  color: #fff;
  background-color: #f04124;
  border-color: #f04124;
}
.btn-danger:hover {
  color: #fff;
  background-color: #df2d0f;
  border-color: #d32a0e;
}
.btn-danger.focus,
.btn-danger:focus {
  color: #fff;
  background-color: #df2d0f;
  border-color: #d32a0e;
  box-shadow: 0 0 0 0.2rem rgba(242, 94, 69, 0.5);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: #f04124;
  border-color: #f04124;
}
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #d32a0e;
  border-color: #c7280e;
}
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(242, 94, 69, 0.5);
}
.btn-light {
  color: #222;
  background-color: #eee;
  border-color: #eee;
}
.btn-light:hover {
  color: #222;
  background-color: #dbdbdb;
  border-color: #d5d5d5;
}
.btn-light.focus,
.btn-light:focus {
  color: #222;
  background-color: #dbdbdb;
  border-color: #d5d5d5;
  box-shadow: 0 0 0 0.2rem rgba(207, 207, 207, 0.5);
}
.btn-light.disabled,
.btn-light:disabled {
  color: #222;
  background-color: #eee;
  border-color: #eee;
}
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
  color: #222;
  background-color: #d5d5d5;
  border-color: #cecece;
}
.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(207, 207, 207, 0.5);
}
.btn-dark {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.btn-dark:hover {
  color: #fff;
  background-color: #0f0f0f;
  border-color: #090909;
}
.btn-dark.focus,
.btn-dark:focus {
  color: #fff;
  background-color: #0f0f0f;
  border-color: #090909;
  box-shadow: 0 0 0 0.2rem rgba(67, 67, 67, 0.5);
}
.btn-dark.disabled,
.btn-dark:disabled {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #090909;
  border-color: #020202;
}
.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(67, 67, 67, 0.5);
}
.btn-outline-primary {
  color: #008cba;
  border-color: #008cba;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #008cba;
  border-color: #008cba;
}
.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 140, 186, 0.5);
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #008cba;
  background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #008cba;
  border-color: #008cba;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 140, 186, 0.5);
}
.btn-outline-secondary {
  color: #eee;
  border-color: #eee;
}
.btn-outline-secondary:hover {
  color: #222;
  background-color: #eee;
  border-color: #eee;
}
.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 238, 238, 0.5);
}
.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
  color: #eee;
  background-color: transparent;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #222;
  background-color: #eee;
  border-color: #eee;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 238, 238, 0.5);
}
.btn-outline-success {
  color: #43ac6a;
  border-color: #43ac6a;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #43ac6a;
  border-color: #43ac6a;
}
.btn-outline-success.focus,
.btn-outline-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(67, 172, 106, 0.5);
}
.btn-outline-success.disabled,
.btn-outline-success:disabled {
  color: #43ac6a;
  background-color: transparent;
}
.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #43ac6a;
  border-color: #43ac6a;
}
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(67, 172, 106, 0.5);
}
.btn-outline-info {
  color: #5bc0de;
  border-color: #5bc0de;
}
.btn-outline-info:hover {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.btn-outline-info.focus,
.btn-outline-info:focus {
  box-shadow: 0 0 0 0.2rem rgba(91, 192, 222, 0.5);
}
.btn-outline-info.disabled,
.btn-outline-info:disabled {
  color: #5bc0de;
  background-color: transparent;
}
.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(91, 192, 222, 0.5);
}
.btn-outline-warning {
  color: #e99002;
  border-color: #e99002;
}
.btn-outline-warning:hover {
  color: #fff;
  background-color: #e99002;
  border-color: #e99002;
}
.btn-outline-warning.focus,
.btn-outline-warning:focus {
  box-shadow: 0 0 0 0.2rem rgba(233, 144, 2, 0.5);
}
.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
  color: #e99002;
  background-color: transparent;
}
.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #fff;
  background-color: #e99002;
  border-color: #e99002;
}
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(233, 144, 2, 0.5);
}
.btn-outline-danger {
  color: #f04124;
  border-color: #f04124;
}
.btn-outline-danger:hover {
  color: #fff;
  background-color: #f04124;
  border-color: #f04124;
}
.btn-outline-danger.focus,
.btn-outline-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 65, 36, 0.5);
}
.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
  color: #f04124;
  background-color: transparent;
}
.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #f04124;
  border-color: #f04124;
}
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 65, 36, 0.5);
}
.btn-outline-light {
  color: #eee;
  border-color: #eee;
}
.btn-outline-light:hover {
  color: #222;
  background-color: #eee;
  border-color: #eee;
}
.btn-outline-light.focus,
.btn-outline-light:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 238, 238, 0.5);
}
.btn-outline-light.disabled,
.btn-outline-light:disabled {
  color: #eee;
  background-color: transparent;
}
.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show > .btn-outline-light.dropdown-toggle {
  color: #222;
  background-color: #eee;
  border-color: #eee;
}
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 238, 238, 0.5);
}
.btn-outline-dark {
  color: #222;
  border-color: #222;
}
.btn-outline-dark:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.btn-outline-dark.focus,
.btn-outline-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
}
.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
  color: #222;
  background-color: transparent;
}
.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.5);
}
.btn-link {
  font-weight: 400;
  color: var(--helene-green);
  text-decoration: none;
}
.btn-link:hover {
  color: #00526e;
  text-decoration: underline;
}
.btn-link.focus,
.btn-link:focus {
  text-decoration: underline;
}
.btn-link.disabled,
.btn-link:disabled {
  color: #888;
  pointer-events: none;
}
.btn-group-lg > .btn,
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.171875rem;
  line-height: 1.5;
  /* border-radius: 0; */
}
.btn-group-sm > .btn,
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.825rem;
  line-height: 1.5;
  /* border-radius: 0; */
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 0.5rem;
}
input[type="button"].btn-block,
input[type="reset"].btn-block,
input[type="submit"].btn-block {
  width: 100%;
}
.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}
.collapse:not(.show) {
  display: none;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}
.rich-text img {
  max-width: 100%;
  height: auto;
}
.responsive-object {
  position: relative;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}