{% load wagtailcore_tags wagtailimages_tags random_testimonial_tags %}
{% get_random_testimonial as testimonial %}

<div mb-3 py-3>
  <div class="card bg-helene-faded-green border-0 p-3 pb-0 mb-3 h-100" style="border-radius: 12px;">
    <div class="card-body p-0 mb-n3">
      <p align="justify" class="testimonial">{{ testimonial.reference_text }}</p>
      <div class="row no-gutters">
        <div class="col-auto d-flex align-items-left pr-3 pb-3">
        {% image testimonial.photo fill-50x50 as img %}
        <img src="{{ img.url }}" style="border-radius: 6px;">
        </div>
        <div class="col">
          <p class="testimonial"><small>
            {% if testimonial.author_link %}
              <a class="dark-nav-link" href="{{ testimonial.author_link }}" target="_blank">
            {% endif %}
            {{ testimonial.author }}</small><br>
            <span class="author-description">{{ testimonial.author_description }}</span>
            {% if testimonial.author_link %}
              </a>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
col {
  width: 0;
}
.testimonial {
  font-size: clamp(0.84375rem, 0.7721rem + 0.2206vw, 0.9375rem);
  line-height: 120%;
}
.author-description {
  font-size: 80%;
  line-height: 100%;
  font-style: italic; 
}
</style>
