{% load wagtailcore_tags wagtailimages_tags random_testimonial_tags %}
{% get_random_testimonial as testimonial %}

<div mb-3 py-3>
  &nbsp
  <div class="card bg-helene-green text-light border-0 p-3 pb-0 mb-3 h-100">
    <div class="card-body p-0 mb-n3">
      <p>{{ testimonial.reference_text }}</p>
      <div class="row no-gutters">
        <div class="col-auto d-flex align-items-left pr-3 pb-3">
        {% image testimonial.photo fill-50x50 as img %}
        <img src="{{ img.url }}" style="border-radius: 6px;">
        </div>
        <div class="col">
          <p><small>
            {% if testimonial.author_link %}
              <a class="light-nav-link" href="{{ testimonial.author_link }}">
            {% endif %}
            {{ testimonial.author }} — <i>{{ testimonial.author_description }}</i>
            {% if testimonial.author_link %}
              </a>
            {% endif %}
          </small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
col {
  width: 0;
}
</style>
