{% load wagtailcore_tags grid_block_tags %}
{% three_column_layout self as layout %}

  <div class="row">
    <div class="{{ layout.left }}">
        {% for block in value.left_column %}
            {% include_block block %}
        {% endfor %}
    </div>
    <div class="{{ layout.centre }}">
        {% for block in value.centre_column %}
            {% include_block block %}
        {% endfor %}
    </div>
    <div class="{{ layout.right }}">
        {% for block in value.right_column %}
            {% include_block block %}
        {% endfor %}
    </div>
  </div>
