{% extends 'base.html' %} 
{% load wagtailcore_tags widget_tweaks contact_page_tags wagtailimages_tags core_tags %} 

{% block extra_head %}
{% endblock extra_head %}

{% block content %} 
  {% get_template_set 'common' as trans %}

  <div class="container-fluid mt-4 px-3 px-sm-5 pb-4 mx-auto" style="max-width: 1800px;">
    <div class="row pt-md-4">
      <div class="col-md-5 pr-md-5 divider-right-md">
        {% for block in page.intro_text %}
            {% include_block block with block_id=block.id %}
        {% endfor %}
        <p class="pb-3">
          <a
            href="javascript:location='mailto:\u0069\u006e\u0066\u006f\u0040\u0068\u0065\u006c\u0065\u006e\u0065\u0072\u006f\u0064\u0065\u006e\u0070\u006f\u0073\u007a\u006c\u0065\u0072\u002e\u0063\u006f\u006d';void 0">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1.5em" height="1.5em">
              <path d="M0 128C0 92.65 28.65 64 64 64H448C483.3 64 512 92.65 512 128V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V128zM48 128V150.1L220.5 291.7C241.1 308.7 270.9 308.7 291.5 291.7L464 150.1V127.1C464 119.2 456.8 111.1 448 111.1H64C55.16 111.1 48 119.2 48 127.1L48 128zM48 212.2V384C48 392.8 55.16 400 64 400H448C456.8 400 464 392.8 464 384V212.2L322 328.8C283.6 360.3 228.4 360.3 189.1 328.8L48 212.2z"/>
            </svg><span class="font-weight-bolder">
            &nbsp;{{ trans.email }}
            </span> 
          </a>
        </p>
        <div class="d-none d-md-block">
          {% image self.intro_image width-700 format-webp as webp_img_w_700 %} 
          {% image self.intro_image width-550 format-webp as webp_img_w_550 %}
          {% image self.intro_image width-300 format-webp as webp_img_w_300 %}
          {% image self.intro_image width-700 as fallback %}
          <picture>
            <source media="(max-width: 900px)" sizes="(max-width: 900px) 900px" srcset="{{ webp_img_w_300.url }} 600w" type="image/webp">
            <source media="(max-width: 1500px)" sizes="(max-width: 1500px) 1200px" srcset="{{ webp_img_w_550.url }} 600w" type="image/webp">
            <source media="(min-width: 1501px)" sizes="(min-width: 1501px) 1501px" srcset="{{ webp_img_w_700.url }} 2100w" type="image/webp">
            <img
              src="{{ fallback.url }}"
              alt="{{ self.intro_image.title }}"
              style="width: 100%; height: auto;"
            >
          </picture>
        </div>
        <div class="d-block d-md-none">
          <hr>
        </div>
      </div>
      <div class="col-md-7 pl-md-5">
        <div class="card bg-helene-faded-green p-3">
          <div class="card-body p-0 mb-n3 privacy-notice">
            {{ self.privacy_notice|richtext }}
          </div>
        </div>        
        <p>&nbsp;</p>
        <form action="{% pageurl page %}" enctype="multipart/form-data" method="POST">
          {% csrf_token %} 
          
          {% for hidden_field in form.hidden_fields %} 
            {{ hidden_field }} 
          {% endfor %} 
          {% if form.errors or form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {{ self.form_error_warning }}
            </div>            
          {% endif %}
          {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in form.non_field_errors %} {{ error }} {% endfor %}
            </div>
          {% endif %}

          <div class="form-group">
            {% for field in form.visible_fields %} 
              {% field_class field as field_class %}
              {% if field_class == 'checkbox' %}
                <div class="form-check mt-n1 ml-1">
                  {% if form.is_bound %} 
                    {% if field.errors %} 
                      {% render_field field class="form-check-input is-invalid form-check-input-sm" %} 
                    {% else %} 
                      {% render_field field class="form-check-input is-valid form-check-input-sm" %} 
                    {% endif %} 
                  {% else %} 
                    {% render_field field class="form-check-input form-check-input-sm" %} 
                  {% endif %} 
                  {{ field.label_tag }}
                </div>
              {% else %}
                <div class="mt-n2">
                  {{ field.label_tag }}
                </div>
                {% if form.is_bound %} 
                  {% if field.errors %} 
                    {% render_field field class="form-control is-invalid form-control-sm" %} 
                  {% else %} 
                    {% render_field field class="form-control is-valid form-control-sm" %} 
                  {% endif %} 
                {% else %} 
                  {% if field.name=='wagtailcaptcha' %}
                    {% render_field field %} 
                  {% else %}
                    {% render_field field class="form-control form-control-sm" %} 
                  {% endif %}
                {% endif %} 
              {% endif %}
              {% if field.errors or field.help_text%}
                <div class="row">
                  <div {% if field.errors %}class="col"{% else %}class="col-auto"{% endif%}>
                    {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text|linebreaksbr }}<br />&nbsp;</small>
                    {% else %}
                      <small>&nbsp;</small>
                    {% endif %}
                  </div>
                  <div {% if field.errors %}class="col-auto text-right"{% else %}class="col"{% endif %}>
                    {% if field.errors %}
                      <ul class="list-unstyled">
                        {% for error in field.errors %}
                          <small class="text-danger">
                            <li>{{ error }}</li>
                          </small>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                </div>
              {% else %}
                <small>&nbsp;</small>
              {% endif %} 
            {% endfor %}
          </div>
          <button class="btn btn-primary btn-lg" type="submit">{{ page.submit_button_text }}</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
